.plan-section {
  max-width: 800px;
  margin: 0 auto;
}

.plan-description-title {
  font-size: 25px;
  font-weight: bold;
  margin-top: max(-15px, -2vh);
}

.plan-description-body {
  color: var(--normal-font-color);
  margin: 0 auto;
  font-size: 15px;
  margin-top: max(-15px, -2vh);
}

.plans {
  display: flex;
  justify-content: space-around;
  margin-top: min(5vh, 50px);
  flex-wrap: wrap;
}

.plan-card {
  width: 300px;
  height: 600px;
  padding: 0px 20px 14px 20px;
  border: 1px solid #ddd;
  border-radius: 32px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: left;
  font-family: "Times New Roman", Times, serif;
  transition: transform 0.3s, background-color 0.3s, color 0.3s;
}

.plan-card:hover {
  transform: scale(1.2);
  background-color: var(--primary-color);
  color: white;
}

.plan-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.plan-title {
  font-weight: bold;
  color: var(--title-font-color);
  font-size: 32px;
  margin-bottom: -25px;
}

.plan-card:hover .plan-title {
  color: white;
}

.plan-description {
  margin-bottom: 32px;
  font-size: 20px;
  margin-left: 3px;
  color: var(--normal-font-color);
}

.plan-card:hover .plan-description {
  color: white;
}

.plan-ai-icon {
  align-self: center;
  width: 80px;
  height: 80px;
  margin-bottom: 40px;
  color: black;
}

.plan-card:hover .plan-ai-icon {
  color: white;
}

.plan-others-icon {
  align-self: center;
  width: 85px;
  height: 85px;
  margin-bottom: 35px;
  color: black;
}

.plan-card:hover .plan-others-icon {
  color: white;
}

.button-get-started {
  width: 100%;
  padding: 10px 0;
  margin-bottom: 35px;
  border-radius: 12px;
  border: 1px solid var(--title-font-color);
  background-color: white;
  color: var(--title-font-color);
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.plan-card:hover .button-get-started {
  background-color: var(--primary-color);
  color: white;
  border: 1px solid white;
}

hr.line {
  border-top: 1px solid var(--normal-font-color);
  margin-bottom: 40px;
}

.plan-features {
  list-style: none;
  padding: 0;
}

.plan-features-title {
  color: var(--title-font-color);
  font-size: 18px;
  font-weight: bold;
}

.plan-card:hover .plan-features-title {
  color: white;
}

.plan-features li {
  color: var(--normal-font-color);
  margin-bottom: 15px;
  display: flex;
}

.plan-card:hover .plan-features li {
  color: white;
}

.plan-features-icon {
  align-self: center;
  margin-right: 5px;
}
