:root {
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --success-color: #28a745;
  --danger-color: #dc3545;
  --warning-color: #ffc107;
  --info-color: #a2d5f2;
  --light-color: #d4e6f1;
  --dark-color: #003366;
  --background-color: #f8fafd;
}

* {
  background-color: var(--background-color);
}

.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-header {
  min-height: 10vh;
  display: flex;
  align-items: center;
  font-size: calc(10px + 2vmin);
  margin-bottom: 7vh;
}

.App-title {
  margin-left: 10px;
  color: var(--dark-color);
}

.Background {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Description-title {
  font-size: calc(4vmin);
  font-weight: bold;
}

.Description-body {
  font-size: calc(3vmin);
}

.Signin-body {
  width: 50vmin;
  display: flex;
  flex-direction: column;
  margin-top: 2vh;
}

.input-label {
  font-size: calc(2vmin);
  font-weight: bold;
  text-align: left;
  margin-top: 3vh;
}

.warning-label {
  font-size: calc(2.5vmin);
  font-weight: bold;
  text-align: left;
  color: var(--danger-color);
}

.warning-inputWrap {
  display: flex;
  height: 1vh;
  border-radius: 8px;
  padding: 3vh;
  margin-top: 3px;
  border: 1px solid var(--danger-color);
  font-size: calc(2.3vmin);
}

.warning-inputWrap:focus-within {
  border: 1px solid #a2d5f2;
}

.Signup-link {
  margin-left: 7px;
  font-weight: bold;
  color: black;
  text-decoration: none;
}

.Signup-body {
  width: 50vmin;
  height: 40vmin;
  display: flex;
  flex-direction: column;
  margin-top: 2vh;
}

.inputWrap {
  display: flex;
  height: 1vh;
  border-radius: 8px;
  padding: 3vh;
  margin-top: 3px;
  border: 1px solid var(--light-color);
  font-size: calc(2.3vmin);
}

.inputWrap:focus-within {
  border: 1px solid #a2d5f2;
}

.input-button-wrapper {
  display: flex;
  align-items: center;
}

.input-button-wrapper input {
  flex: 1;
  margin-right: 3px;
}

/* custom-button */
.custom-button {
  padding: 0.1em 0.25em;
  margin-top: 3vh;
  background-color: var(--light-color);
  border: 1px solid var(--light-color);
  border-radius: 8px;
  font-size: calc(2.3vmin);
  cursor: pointer;
}

.custom-button[disabled] {
  cursor: not-allowed;
}

.custom-button[disabled] span {
  transition: all 0.5s;
  transform: translate(0, 0.4em);
  box-shadow: 0 0 0 0 #fff;
}

.custom-button span {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0.4em;
  padding: 2vh;
  background-color: var(--light-color);
  border-radius: 8px;

  border: 1px solid #fff;
  box-shadow: 0 0.4em 0.1em 0.019em #fff;
  color: black;
  font-weight: bold;
}

.custom-button span:hover {
  transition: all 0.5s;
  transform: translate(0, 0.4em);
  box-shadow: 0 0 0 0 #fff;
}

.custom-button span:not(:hover):not(:active) {
  transition: all 1s;
}

/* custom-radio */
.radio-inputs {
  margin-top: 3px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid var(--light-color);
  border-radius: 8px;
  box-sizing: border-box;
  padding: 0.5vh;
  font-size: 14px;
  height: 50vh;
}

.radio-inputs .radio {
  flex: 1 1 auto;
  text-align: center;
}

.radio-inputs .radio input {
  display: none;
}

.radio-inputs .radio .name {
  font-size: calc(2.3vmin);
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  padding: 1.5vh;
  transition: all 0.15s ease-in-out;
}

.radio-inputs .radio input:checked + .name {
  background-color: var(--light-color);
  font-weight: 600;
}

.warning-radio-inputs {
  border-color: var(--danger-color);
}

.toast-popup {
  background-color: var(--info-color);
  border-radius: 8px;
  font-size: 20px;
  display: flex;
  font-weight: bold;
  align-items: center;
  margin-top: 10px;
  padding: 1.5vh;
}

.toast-popup-icon {
  background-color: var(--info-color);
  font-size: 30px; /* icon Size */
  color: var(--background-color);
  margin-right: 10px;
  stroke-width: 2; /* icon stroke Size */
}
